.animate-spin {
	.animation (spin 2s infinite linear);
	display: inline-block;
}

@-moz-keyframes spin {
	0% {
		.rotate(0deg);
	}

	100% {
		.rotate(359deg);
	}
}

@-webkit-keyframes spin {
	0% {
		.rotate(0deg);
	}

	100% {
		.rotate(359deg);
	}
}

@-o-keyframes spin {
	0% {
		.rotate(0deg);
	}

	100% {
		.rotate(359deg);
	}
}

@-ms-keyframes spin {
	0% {
		.rotate(0deg);
	}

	100% {
		.rotate(359deg);
	}
}

@keyframes spin {
	0% {
		.rotate(0deg);
	}

	100% {
		.rotate(359deg);
	}
}