//
//	MIXINS LESS
//	Author: Jan Klever
//	Author URI: http://janklever.com.br/
//	Date: Jun 2014
//	Version: 1.1
//

// Animation
.animation (@animation) {
	-webkit-animation: @animation;
	   -moz-animation: @animation;
		 -o-animation: @animation;
			animation: @animation;
}

.animation-name (@name) {
	-webkit-animation-name: @name;
	        animation-name: @name;
}

.animation-duration (@duration) {
	-webkit-animation-duration: @duration;
	        animation-duration: @duration;
}

.animation-timing-function (@timing-function) {
	-webkit-animation-timing-function: @timing-function;
	        animation-timing-function: @timing-function;
}

.animation-delay (@delay) {
	-webkit-animation-delay: @delay;
	        animation-delay: @delay;
}

.animation-iteration-count (@iteration-count) {
	-webkit-animation-iteration-count: @iteration-count;
	        animation-iteration-count: @iteration-count;
}

.animation-direction (@direction) {
	-webkit-animation-direction: @direction;
	        animation-direction: @direction;
}

// Boxes
.box-shadow (@x: 0, @y: 0, @blur: 2px, @color: #000) {
	-webkit-box-shadow: @arguments;
	   -moz-box-shadow: @arguments;
	        box-shadow: @arguments;
}

.box-sizing (@box-model) {
	-webkit-box-sizing: @box-model; // Safari <= 5
	   -moz-box-sizing: @box-model; // Firefox <= 19
			box-sizing: @box-model;
}

// Border Radius
.border-radius (@radius: 0) {
	-webkit-border-radius: @radius;
	   -moz-border-radius: @radius;
			border-radius: @radius;
}

.border-top-radius (@radius) {
	-webkit-border-top-right-radius: @radius;
	   -moz-border-top-right-radius: @radius;
			border-top-right-radius: @radius;
			 border-top-left-radius: @radius;
}

.border-right-radius (@radius) {
	-webkit-border-bottom-right-radius: @radius;
	   -moz-border-bottom-right-radius: @radius;
			border-bottom-right-radius: @radius;
			   border-top-right-radius: @radius;
}

.border-bottom-radius (@radius) {
	-webkit-border-bottom-right-radius: @radius;
	   -moz-border-bottom-right-radius: @radius;
			border-bottom-right-radius: @radius;
			 border-bottom-left-radius: @radius;
}

.border-left-radius (@radius) {
	-webkit-border-bottom-left-radius: @radius;
	   -moz-border-bottom-left-radius: @radius;
			border-bottom-left-radius: @radius;
			   border-top-left-radius: @radius;
}

.clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}

.center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Facebook
.facebook () {
	.fb-like-box,
	.fb_iframe_widget {
		.width-max();

		span {.width-max();}

		iframe {.width-max();}
	}
}

// Font Face
.font-face (@font-name, @font-path, @font-weight: normal, @font-style: normal) {
	@font-face {
	    font-family: ~"'@{font-name}'";
		src: ~"url('../fonts/@{font-path}.eot')";
		src: ~"url('../fonts/@{font-path}.eot?#iefix') format('embedded-opentype')",
			 ~"url('../fonts/@{font-path}.svg#@{font-name}') format('svg')",
			 ~"url('../fonts/@{font-path}.woff') format('woff')",
			 ~"url('../fonts/@{font-path}.ttf') format('truetype')";
	    font-weight: @font-weight;
	    font-style: @font-style;
	}
}

.height-max (@height: 200px, @max-height: @height) {
	max-height: @max-height;
	height: @height;
}

.img-responsive (@display: block) {
	display: @display;
	max-width: 100%;
	height: auto;
}

.opacity (@opacity: 1) {
	zoom: 1; // gives the object layout
	@opacity-ie: (@opacity * 100); // IE8 filter
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opacity-ie})";
		filter: ~"alpha(opacity=@{opacity-ie})";
	-khtml-opacity: @opacity;
	  -moz-opacity: @opacity;
		   opacity: @opacity;
}

// Placeholder
.placeholder(@color: @input-color-placeholder) {
	&::-moz-placeholder {
		color: @color;   // Firefox
		opacity: 1;
	} // See https://github.com/twbs/bootstrap/pull/11526
	&:-ms-input-placeholder       { color: @color; } // Internet Explorer 10+
	&::-webkit-input-placeholder  { color: @color; } // Safari and Chrome
}

// Perspective
.perspective (@perspective) {
	-webkit-perspective: @perspective;
	   -moz-perspective: @perspective;
	        perspective: @perspective;
}

.perspective-origin (@perspective) {
	-webkit-perspective-origin: @perspective;
	   -moz-perspective-origin: @perspective;
	        perspective-origin: @perspective;
}

// Rotation
.rotate (@degrees) {
	-webkit-transform: rotate(@degrees);
	    -ms-transform: rotate(@degrees); // IE9 only
	        transform: rotate(@degrees);
}

.rotateX (@degrees) {
	-webkit-transform: rotateX(@degrees);
	    -ms-transform: rotateX(@degrees); // IE9 only
	        transform: rotateX(@degrees);
}

.rotateY (@degrees) {
	-webkit-transform: rotateY(@degrees);
	    -ms-transform: rotateY(@degrees); // IE9 only
	        transform: rotateY(@degrees);
}

.scale (@ratio; @ratio-y...) {
	-webkit-transform: scale(@ratio, @ratio-y);
	    -ms-transform: scale(@ratio, @ratio-y); // IE9 only
	        transform: scale(@ratio, @ratio-y);
}

.size (@width; @height) {
	width: @width;
	height: @height;
}

.square (@size) {
	.size(@size; @size);
}

// Scroolbar
.scrollbar (@corBack: #fff, @cor: contrast(@corBack, darken(@corBack, 30%), lighten(@corBack, 30%), 43%)) {
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
	::-webkit-scrollbar-track-piece {
		background-color: @corBack;
	}
	::-webkit-scrollbar-thumb:vertical {
		height: 5px;
		background-color: @cor;
	}
	::-webkit-scrollbar-thumb:horizontal {
		width: 5px;
		background-color: @cor;
	}
}

.skew (@x; @y) {
	-webkit-transform: skew(@x, @y);
	    -ms-transform: skewX(@x) skewY(@y); // See https://github.com/twbs/bootstrap/issues/4885; IE9+
	        transform: skew(@x, @y);
}

.tab-focus() {
	// Default
	outline: thin dotted;
	// WebKit
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.text-hide() {
	font: ~"0/0" a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.transform-origin (@origin) {
	-webkit-transform-origin: @origin;
	   -moz-transform-origin: @origin;
	    -ms-transform-origin: @origin; // IE9 only
	        transform-origin: @origin;
}

// Transitions
.transition (@property: all; @duration: 0.5s; @function: linear; @delay: @duration;) {
	-webkit-transition: @arguments;
	   -moz-transition: @arguments;
	     -o-transition: @arguments;
	        transition: @arguments;
}

//.transition (@transition) {
//	-webkit-transition: @transition;
//			transition: @transition;
//}

.transition-property (@transition-property) {
	-webkit-transition-property: @transition-property;
	   -moz-transition-property: @transition-property;
	     -o-transition-property: @transition-property;
			transition-property: @transition-property;
}

.transition-delay (@transition-delay) {
	-webkit-transition-delay: @transition-delay;
	   -moz-transition-delay: @transition-delay;
	     -o-transition-delay: @transition-delay;
			transition-delay: @transition-delay;
}

.transition-duration (@transition-duration) {
	-webkit-transition-duration: @transition-duration;
	   -moz-transition-duration: @transition-duration;
	     -o-transition-duration: @transition-duration;
			transition-duration: @transition-duration;
}

.transition-transform (@transition) {
	-webkit-transition: -webkit-transform @transition;
	   -moz-transition: -moz-transform @transition;
		 -o-transition: -o-transform @transition;
			transition: transform @transition;
}

// Translate
.translate (@x; @y) {
	-webkit-transform: translate(@x, @y);
	    -ms-transform: translate(@x, @y); // IE9 only
	        transform: translate(@x, @y);
}

.translate3d (@x; @y; @z) {
	-webkit-transform: translate3d(@x, @y, @z);
	        transform: translate3d(@x, @y, @z);
}

.width-max (@width: 100%, @max-width: @width) {
	max-width: @max-width;
	width: @width;
}







// -----------------------------------------------------------------------------------
//                                      BOOTSTRAP
// -----------------------------------------------------------------------------------

// Progress bars
// -------------------------
.progress-bar-variant(@color) {
  background-color: @color;
  .progress-striped & {
    #gradient > .striped();
  }
}

// Responsive utilities
// -------------------------
// More easily include all the states for responsive-utilities.less.
.responsive-visibility() {
	display: block !important;
	table&  { display: table; }
	tr&     { display: table-row !important; }
	th&,
	td&     { display: table-cell !important; }
}

.responsive-invisibility() {
	display: none !important;
}


// Grid System
// -----------

// Centered container element
.container-fixed() {
	margin-right: auto;
	margin-left: auto;
	padding-left:  (@grid-gutter-width / 2);
	padding-right: (@grid-gutter-width / 2);
	&:extend(.clearfix all);
}

// Creates a wrapper for a series of columns
.make-row(@gutter: @grid-gutter-width) {
	margin-left:  (@gutter / -2);
	margin-right: (@gutter / -2);
	&:extend(.clearfix all);
}

// Generate the extra small columns
.make-xs-column(@columns; @gutter: @grid-gutter-width) {
	position: relative;
	float: left;
	width: percentage((@columns / @grid-columns));
	min-height: 1px;
	padding-left:  (@gutter / 2);
	padding-right: (@gutter / 2);
}
.make-xs-column-offset(@columns) {
	@media (min-width: @screen-xs-min) {
		margin-left: percentage((@columns / @grid-columns));
	}
}
.make-xs-column-push(@columns) {
	@media (min-width: @screen-xs-min) {
		left: percentage((@columns / @grid-columns));
	}
}
.make-xs-column-pull(@columns) {
	@media (min-width: @screen-xs-min) {
		right: percentage((@columns / @grid-columns));
	}
}


// Generate the small columns
.make-sm-column(@columns; @gutter: @grid-gutter-width) {
	position: relative;
	min-height: 1px;
	padding-left:  (@gutter / 2);
	padding-right: (@gutter / 2);

	@media (min-width: @screen-sm-min) {
		float: left;
		width: percentage((@columns / @grid-columns));
	}
}
.make-sm-column-offset(@columns) {
	@media (min-width: @screen-sm-min) {
		margin-left: percentage((@columns / @grid-columns));
	}
}
.make-sm-column-push(@columns) {
	@media (min-width: @screen-sm-min) {
		left: percentage((@columns / @grid-columns));
	}
}
.make-sm-column-pull(@columns) {
	@media (min-width: @screen-sm-min) {
		right: percentage((@columns / @grid-columns));
	}
}


// Generate the medium columns
.make-md-column(@columns; @gutter: @grid-gutter-width) {
	position: relative;
	min-height: 1px;
	padding-left:  (@gutter / 2);
	padding-right: (@gutter / 2);

	@media (min-width: @screen-md-min) {
		float: left;
		width: percentage((@columns / @grid-columns));
	}
}
.make-md-column-offset(@columns) {
	@media (min-width: @screen-md-min) {
		margin-left: percentage((@columns / @grid-columns));
	}
}
.make-md-column-push(@columns) {
	@media (min-width: @screen-md-min) {
		left: percentage((@columns / @grid-columns));
	}
}
.make-md-column-pull(@columns) {
	@media (min-width: @screen-md-min) {
		right: percentage((@columns / @grid-columns));
	}
}


// Generate the large columns
.make-lg-column(@columns; @gutter: @grid-gutter-width) {
	position: relative;
	min-height: 1px;
	padding-left:  (@gutter / 2);
	padding-right: (@gutter / 2);

	@media (min-width: @screen-lg-min) {
		float: left;
		width: percentage((@columns / @grid-columns));
	}
}
.make-lg-column-offset(@columns) {
	@media (min-width: @screen-lg-min) {
		margin-left: percentage((@columns / @grid-columns));
	}
}
.make-lg-column-push(@columns) {
	@media (min-width: @screen-lg-min) {
		left: percentage((@columns / @grid-columns));
	}
}
.make-lg-column-pull(@columns) {
	@media (min-width: @screen-lg-min) {
		right: percentage((@columns / @grid-columns));
	}
}


// Framework grid generation
//
// Used only by Bootstrap to generate the correct number of grid classes given
// any value of `@grid-columns`.

.make-grid-columns() {
	// Common styles for all sizes of grid columns, widths 1-12
	.col(@index) when (@index = 1) { // initial
		@item: ~".col-xs-@{index}, .col-sm-@{index}, .col-md-@{index}, .col-lg-@{index}";
		.col((@index + 1), @item);
	}
	.col(@index, @list) when (@index =< @grid-columns) { // general; "=<" isn't a typo
		@item: ~".col-xs-@{index}, .col-sm-@{index}, .col-md-@{index}, .col-lg-@{index}";
		.col((@index + 1), ~"@{list}, @{item}");
	}
	.col(@index, @list) when (@index > @grid-columns) { // terminal
		@{list} {
			position: relative;
			// Prevent columns from collapsing when empty
			min-height: 1px;
			// Inner gutter via padding
			padding-left:  (@grid-gutter-width / 2);
			padding-right: (@grid-gutter-width / 2);
		}
	}
	.col(1); // kickstart it
}

.float-grid-columns(@class) {
	.col(@index) when (@index = 1) { // initial
		@item: ~".col-@{class}-@{index}";
		.col((@index + 1), @item);
	}
	.col(@index, @list) when (@index =< @grid-columns) { // general
		@item: ~".col-@{class}-@{index}";
		.col((@index + 1), ~"@{list}, @{item}");
	}
	.col(@index, @list) when (@index > @grid-columns) { // terminal
		@{list} {
			float: left;
		}
	}
	.col(1); // kickstart it
}

.calc-grid-column(@index, @class, @type) when (@type = width) and (@index > 0) {
	.col-@{class}-@{index} {
		width: percentage((@index / @grid-columns));
	}
}
.calc-grid-column(@index, @class, @type) when (@type = push) {
	.col-@{class}-push-@{index} {
		left: percentage((@index / @grid-columns));
	}
}
.calc-grid-column(@index, @class, @type) when (@type = pull) {
	.col-@{class}-pull-@{index} {
		right: percentage((@index / @grid-columns));
	}
}
.calc-grid-column(@index, @class, @type) when (@type = offset) {
	.col-@{class}-offset-@{index} {
		margin-left: percentage((@index / @grid-columns));
	}
}

// Basic looping in LESS
.loop-grid-columns(@index, @class, @type) when (@index >= 0) {
	.calc-grid-column(@index, @class, @type);
	// next iteration
	.loop-grid-columns((@index - 1), @class, @type);
}

// Create grid for specific class
.make-grid(@class) {
	.float-grid-columns(@class);
	.loop-grid-columns(@grid-columns, @class, width);
	.loop-grid-columns(@grid-columns, @class, pull);
	.loop-grid-columns(@grid-columns, @class, push);
	.loop-grid-columns(@grid-columns, @class, offset);
}



// GRADIENTS
// --------------------------------------------------

#gradient {

	// Horizontal gradient, from left to right
	//
	// Creates two color stops, start and end, by specifying a color and position for each color stop.
	// Color stops are not available in IE9 and below.
	.horizontal(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
		background-image: -webkit-linear-gradient(left, color-stop(@start-color @start-percent), color-stop(@end-color @end-percent)); // Safari 5.1-6, Chrome 10+
		background-image:  linear-gradient(to right, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
		background-repeat: repeat-x;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color))); // IE9 and down
	}

	// Vertical gradient, from top to bottom
	//
	// Creates two color stops, start and end, by specifying a color and position for each color stop.
	// Color stops are not available in IE9 and below.
	.vertical(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
		background-image: -webkit-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);  // Safari 5.1-6, Chrome 10+
		background-image: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
		background-repeat: repeat-x;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@start-color),argb(@end-color))); // IE9 and down
	}

	.directional(@start-color: #555; @end-color: #333; @deg: 45deg) {
		background-repeat: repeat-x;
		background-image: -webkit-linear-gradient(@deg, @start-color, @end-color); // Safari 5.1-6, Chrome 10+
		background-image: linear-gradient(@deg, @start-color, @end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	}
	.horizontal-three-colors(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
		background-image: -webkit-linear-gradient(left, @start-color, @mid-color @color-stop, @end-color);
		background-image: linear-gradient(to right, @start-color, @mid-color @color-stop, @end-color);
		background-repeat: no-repeat;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color))); // IE9 and down, gets no color-stop at all for proper fallback
	}
	.vertical-three-colors(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
		background-image: -webkit-linear-gradient(@start-color, @mid-color @color-stop, @end-color);
		background-image: linear-gradient(@start-color, @mid-color @color-stop, @end-color);
		background-repeat: no-repeat;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@start-color),argb(@end-color))); // IE9 and down, gets no color-stop at all for proper fallback
	}
	.radial(@inner-color: #555; @outer-color: #333) {
		background-image: -webkit-radial-gradient(circle, @inner-color, @outer-color);
		background-image: radial-gradient(circle, @inner-color, @outer-color);
		background-repeat: no-repeat;
	}
	.striped(@color: rgba(255,255,255,.15); @angle: 45deg) {
		background-image: -webkit-linear-gradient(@angle, @color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
		background-image: linear-gradient(@angle, @color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
	}
}

// Reset filters for IE
//
// When you need to remove a gradient background, do not forget to use this to reset
// the IE filter for IE9 and below.
.reset-filter() {
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}



// Retina images
//
// Short retina mixin for setting background-image and -size

.img-retina(@file-1x; @file-2x; @width-1x; @height-1x) {
	background-image: url("@{file-1x}");

	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) {
		background-image: url("@{file-2x}");
		background-size: @width-1x @height-1x;
	}
}