//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
	.box-sizing(border-box);
}
*:before,
*:after {
	.box-sizing(border-box);
}

// Initializing

.placeholder(@gray-light);

.scrollbar(@gray-lighter, @brand-default);

.font-face(avenirlight, avenirltstd-light-webfont);
.font-face(avenir, avenirltstd-roman-webfont);
.font-face(avenir, avenirltstd-heavy-webfont, bold);
.font-face(avenir, avenirltstd-lightoblique-webfont, lighter, italic);
.font-face(avenir, avenirltstd-oblique-webfont, normal, italic);
.font-face(avenir, avenirltstd-heavyoblique-webfont, bold, italic);


// Body reset

html {
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-family: @font-family-base;
	font-size: @font-size-base;
	line-height: @line-height-base;
	color: @text-color;
	background-color: @body-bg;
	background-attachment: fixed;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
	.width-max();
    color: white;
	font-family: @font-family-base;
	font-size: @font-size-base;
	line-height: @line-height-computed;
    margin: 5px 0 !important;
    padding: 5px 10px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
	background-attachment: fixed;
	.border-radius(0);

	&:focus {
		outline: none;
		border-color: black;
	}
}

input {

	@font-size-base: 18px;

	&[type="button"], &[type="submit"] {
		width: auto;
		cursor: pointer;
		font-size: @font-size-base;
		line-height: @line-height-computed;
		font-weight: bold;
		padding: 5px 15px;
		border-radius: 7px;
	}

	&[type="button"]:hover, &[type="submit"]:hover {
		background-color: white;
		color: black;
	}

	&[type="button"]:active, &[type="submit"]:active {
		border-color: black;
		background-color: black;
		color: white;
	}
}


// Links

a {
	color: @link-color;
	text-decoration: @link-decoration;

	&:hover {
		color: @link-hover-color;
		text-decoration: @link-decoration-hover;
	}

	&:focus {
		color: @link-hover-color;
		text-decoration: @link-decoration-hover;
		.tab-focus();
	}
}


// Lists

ul, li {
	margin:0 !important;
	padding:0 !important;
	text-indent:0 !important;
}


// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
	margin: 0;
}


// Images

img {
	.img-responsive();
	vertical-align: middle;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
	.img-responsive();
}

// Rounded corners
.img-rounded {
	border-radius: @border-radius-large;
}

// Image thumbnails
//
// Heads up! This is mixin-ed into thumbnails.less for `.thumbnail`.
.img-thumbnail {
	padding: @thumbnail-padding;
	line-height: @line-height-base;
	background-color: @thumbnail-bg;
	border: 1px solid @thumbnail-border;
	.border-radius (@thumbnail-border-radius);
	.transition(all .2s ease-in-out);

	// Keep them at most 100% wide
	.img-responsive(inline-block);
}

// Perfect circle
.img-circle {
	.border-radius (50%); // set radius in percents
}


// Headings
h1 {
	font-family: @font-family-base;
	font-size: @font-size-h1;
	line-height: floor((@font-size-h1 * @line-height-base));
	font-weight: bold;
	margin: @headings-margin;
}

h2 {
	font-family: @font-family-base;
	font-size: @font-size-h2;
	line-height: floor((@font-size-h2 * @line-height-base));
	font-weight: bold;
	margin: @headings-margin;
}

h3 {
	font-family: @font-family-base;
	font-size: @font-size-h3;
	line-height: floor((@font-size-h3 * @line-height-base));
	font-weight: bold;
	margin: @headings-margin;
}

h4 {
	font-family: @font-family-base;
	font-size: @font-size-h4;
	line-height: floor((@font-size-h4 * @line-height-base));
	font-weight: bold;
	margin: @headings-margin;
}

h5 {
	font-family: @font-family-base;
	font-size: @font-size-h5;
	line-height: floor((@font-size-h5 * @line-height-base));
	font-weight: bold;
	margin: @headings-margin;
}

h6 {
	font-family: @font-family-base;
	font-size: @font-size-h6;
	line-height: floor((@font-size-h6 * @line-height-base));
	font-weight: bold;
	margin: @headings-margin;
}


// Horizontal rules

hr {
	margin-top:    @line-height-computed;
	margin-bottom: @line-height-computed;
	border: 0;
	border-top: 1px solid @hr-border;
}


// Paragraph

p {margin-top: 0}


// Blockquotes

blockquote {
	border: 0;
	margin: 0;
	padding: 0;

	p {
		&:before, &:after {content: '"'}
	}

	small {
		&:before {
			content: "— ";
		}
	}
}

// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.facebook();